@import '~node_modules/modern-normalize/modern-normalize.css';
.products__cont {
  padding-top: 60px;
  padding-bottom: 60px;
}

.products__lable {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2222222222;
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 12px;
}

.products__heading {
  font-family: "Seymour One", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2666666667;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 148px;
}

.products__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 168px;
}

.products__item {
  max-width: 280px;
  padding: 123px 40px 0 40px;
  border-radius: 24px;
}

.products__item--icecream {
  background-color: var(--products-bg-green);
}

.products__item--icecoffee {
  background-color: var(--products-bg-yellow);
}

.products__item--milkshakes {
  background-color: var(--products-bg-brown);
}

.products__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.7142857143;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 40px;
}

.products__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--secondary-text-color);
  margin-bottom: 70px;
}

.products__btn {
  display: inline-flex;
  align-items: center;
  width: 85px;
  height: 40px;
}

.products__btn::before {
  content: "";
  width: 82px;
  height: 32px;
  background-color: aqua;
  background-image: url("/src/image/icons.svg#Arrow-Default");
  background-size: contain;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

:root {
  --primary-text-color:#FCFCFC;
  --secondary-text-color: #131313;
  --white-color: #fff;
  --accent-color: #F8D24E;
  --address-text-color:#D6936D;
  --time-text-color: #ABABAB;
  --footer-text-color:#7A7A7A;
  /* Background colors */
  --primary-background-color: #84A178;
  --products-bg-green:#AEC6A5;
  --products-bg-yellow: #EFD478;
  --products-bg-brown: #D6936D;
  --products-ellipse-green: rgba(156, 190, 143, 0.7);
  --products-ellipse-yellow: rgba(248, 210, 78, 0.7);
  --products-ellipse-brown: rgba(213, 117, 63, 0.7);
  --products-ellipse-grey: #D9D9D9;
  /* Modal */
  --modal-bg-color:#FCFCFC;
  --modal-input-bg:rgba(248, 210, 78, 0.1);
  --modal-border-color:#84A178;
  --modal-ellipse:#9CBE8F;
  /* button color */
  --default-btn:#F8D24E;
  --hover-btn: #0A8817;
  --disabled-btn: #ABABAB;
  /* Timing */
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 480px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-style: 500;
}/*# sourceMappingURL=index.css.map */