<div class="modal-product">
  <div class="modal__window-prod">
    <button data-modal-close class="modal__btn-x" type="button">
        
      <svg
        class="modal__icon-x"
        width="20"
        height="20"
        id="icon-close"
        viewBox="0 0 32 32"
      ></svg>
      <path
          d="M17.253 16l7.37-7.37c0.13-0.154 0.209-0.354 0.209-0.573 0-0.491-0.398-0.89-0.89-0.89-0.219 0-0.42 0.079-0.575 0.211l0.001-0.001-7.368 7.37-7.37-7.378c-0.159-0.147-0.372-0.237-0.606-0.237-0.493 0-0.893 0.4-0.893 0.893 0 0.234 0.090 0.447 0.237 0.606l-0.001-0.001 7.378 7.37-7.376 7.368c-0.194 0.164-0.316 0.408-0.316 0.68 0 0.491 0.398 0.89 0.89 0.89 0.272 0 0.515-0.122 0.678-0.314l0.001-0.001 7.376-7.37 7.37 7.37c0.155 0.133 0.357 0.214 0.579 0.214 0.491 0 0.89-0.398 0.89-0.89 0-0.222-0.081-0.424-0.215-0.58l0.001 0.001-7.37-7.368z"
        ></path>
      <use href="/src/image/icons.svg#close-modal"></use>
    </button>
    <form class="form">
      <h2 class="form__titel">Chokolate icecream</h2>
      <div class="form-prod">
        <ul class="form-prod_list list">
          <li class="form-prod__item">
            <h3 class="form-prod__titel">320</h3>
            <p class="form-prod__text">kcal</p>
          </li>
          <li class="form-prod__item">
            <h3 class="form-prod__titel">4g</h3>
            <p class="form-prod__text">Protin</p>
          </li>
          <li class="form-prod__item">
            <h3 class="form-prod__titel">8,2g</h3>
            <p class="form-prod__text">Fats</p>
          </li>
          <li class="form-prod__item">
            <h3 class="form-prod__titel">40,4g</h3>
            <p class="form-prod__text">Carbs</p>
          </li>
        </ul>
      </div>
      <div class="form__price">
        <h3 class="form-price__titel">Ingredients</h3>
        <ul class="form-price__list list">
          <li class="form-price__item">
            Milk<span class="price-border"></span>100ml
          </li>
          <li class="form-price__item">
            Belgian chokolate<span class="price-border"></span>20g
          </li>
          <li class="form-price__item">
            Cream<span class="price-border"></span>150ml
          </li>
          <li class="form-price__item">
            Cocoa powder<span class="price-border"></span>30g
          </li>
          <li class="form-price__item">
            Sugar<span class="price-border"></span>40g
          </li>
          <li class="form-price__item">
            Vanilla sugar<span class="price-border"></span>10g
          </li>
        </ul>
      </div>
      <label class="form__label">
        <div class="form__section">
          <span class="form__field">Name</span>
          <input
            class="form__input"
            type="text"
            name="name"
            placeholder=" "
            required=""
          />
        </div>
      </label>

      <label class="form__label">
        <div class="form__section">
          <span class="form__field">Phone</span>
          <input class="form__input" type="tel" name="phone" required="" />
        </div>
      </label>

      <label class="form__label">
        <div class="form__section">
          <span class="form__field form__field--margin">Comment</span>
          <textarea class="form__feedback" name="feedback"></textarea>
        </div>
      </label>
      <button class="modal__btn btn" type="submit">Submit</button>
    </form>
  </div>
</div>
