.backdrop {
  width: 100%;
    height: 100%;
    background-color: var(--backdrop-bcg-color);
    opacity: 1;
    z-index: 10;
    transition: opacity var(--timing-function),visibility var(--timing-function);
    position: fixed;
    top: 0;
    left: 0;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
  scale: 1;
}

.form__buy-now {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);

  width: 280px;
  height: 986px;
  margin: 0 auto;
  padding: 28px;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white-color);

  border: 2px solid var(--accent-color);
  border-radius: 10px;

  @media screen and (min-width: 768px) {
    width: 568px;
    height: 644px;

    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.form__btn-close {
  position: absolute;
  right: 8px;
  top: 8px;

  width: 16px;
  height: 16px;
  border: none;
  padding: 0;
  background-color: transparent;
  transition: outline var(--timing-function);
  
  

  @media screen and (min-width: 768px) {
    right: 20px;
    top: 20px;

    width: 20px;
    height: 20px;
  }
}

.form__icon-close {
  display: inline-block;
  fill: var(--secondary-text-color);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
  @media screen and (max-width: 767px) {
    width: 16px;
    height: 16px;
  }
}

.form__title {
  font-family: 'Seymour One', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  margin-bottom: 84px;

  text-align: center;
}

.form__prod {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: 32px;

    margin-bottom: 40px;
  }
}

.label__prod {
  position: relative;
  width: 132px;
  height: 136px;
  margin-bottom: 86px;

  text-align: center;
  border: 2px solid;
  border-radius: 16px;
  transition: background-color var(--timing-function),
    outline var(--timing-function);
 

  &--ice-cream {
    border-color: #96af8c;
  }

  &--ice-coffee {
    border-color: var(--products-ellipse-yellow);
  }

  &--milkshake {
    margin-bottom: 25px;
    border-color: var(--products-ellipse-brown);
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.input__ice-coffee:focus ~ .label__prod--ice-coffee {
  outline: 2px solid var(--hover-btn);
}

.input__milkshake:focus ~ .label__prod--milkshake {
  outline: 2px solid var(--hover-btn);
}

.input__ice-cream:checked ~ .label__prod--ice-cream {
  background-color: #96af8c;
}

.input__ice-coffee:checked ~ .label__prod--ice-coffee {
  background-color: var(--products-bg-yellow);
}

.input__milkshake:checked ~ .label__prod--milkshake {
  background-color: var(--products-bg-brown);
}

.form__photo {
  position: absolute;
  top: -64px;
  left: -2px;
  width: 132px;
  height: 132px;

  overflow: hidden;
  border-radius: 50%;

  &-circle {
    position: relative;
    top: -56px;
    left: -2px;
    display: block;
    width: 132px;
    height: 132px;

    border-radius: 50%;

    &--ice-cream {
      background: linear-gradient(
        0deg,
        rgba(156, 190, 143, 0.7),
        rgba(156, 190, 143, 0.7)
      );
      box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
    }

    &--ice-coffee {
      background: linear-gradient(
        0deg,
        rgba(248, 210, 78, 0.7),
        rgba(248, 210, 78, 0.7)
      );
      box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
    }

    &--milkshake {
      background: linear-gradient(
        0deg,
        rgba(213, 117, 63, 0.7),
        rgba(213, 117, 63, 0.7)
      );
      box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
    }
  }
}

.label__text {
  position: relative;
  top: -40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.form__date-in {
  margin-bottom: 12px;
}

.form__input {
  width: 224px;
  height: 33px;

  padding: 8px 12px;

  line-height: 1.7;
  background-color: var(--input-bcg-color);
  border-radius: 10px;
  border: 1px solid var(--primary-background-color);
  outline-color: var(--hover-btn);
  transition: background-color var(--timing-function);
  outline-color: var(--hover-btn);
  

  @media screen and (min-width: 768px) {
    width: 368px;
    height: 42px;
  }
  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
  &:not(:focus):not(:placeholder-shown):valid {
    background-color:var(--input-true-bcg) ;
  }
  &:not(:focus):not(:placeholder-shown):invalid {
    background-color: var(--input-false-bcg);
  }
}

.form__input:not(:placeholder-shown):required:invalid {
  background-color: #f59c9c;
  outline-color: #f37777;
}

.form__textarea {
  width: 224px;
  height: 65px;

  resize: none;

  padding: 8px 12px;

  line-height: 1.7;
  background-color: var(--input-bcg-color);
  border-radius: 10px;
  border: 1px solid var(--primary-background-color);
  
  &:focus{
    outline: none;
    border-color: var(--accent-color);
  }

  &::placeholder {
    color: currentColor;
  }

  @media screen and (min-width: 768px) {
    width: 368px;
    height: 84px;
  }
}

.form__coment {
  margin-bottom: 25px;
}

.form__buy-btn {
  font-family:Montserrat, sans-serif;
  font-weight: 600;
  width: 114px;
  height: 42px;
  border: none;
  border-radius: 10px;
  background-color: var(--default-btn);

  transition: background-color var(--timing-function),
    color var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--hover-btn);
    outline: 1px solid var(--accent-color);
  }
  &:focus {
    color: var(--primary-text-color);
  }
}
