.modal {
  position: fixed;
  width: 50%;
  height: 50%;
  top: 0;
  background-color: var(--bg-modal);
  opacity: 1;
}
.form {
  display: flex;
  flex-direction: column;
}
.form__titel {
  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  align-items: center;
  text-align: center;
  color: var(--secondary-text-color);
  text-align: center;
  margin-bottom: 40px;

  @media screen and (min-width: 1200px) {
    line-height: 1.15;
  }
}
.modal__window {
  position: absolute;
  max-width: 568px;
  min-height: 644px;
  
  left: 50%;
  background: var(--primary-text-color);
  border: 2px solid var(--accent-color);
  border-radius: 10px;
  padding: 32px;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal__btn-x {
  position: absolute;
  top: 20px;
  right: 8px;
  background-color: var(--white-color);
  border: none;
}
.modal__icon-x {
  fill: var(--secondary-text-color);
 
}

.group-list {
  display: flex;
  gap: 32px;
}
.group__item {
  margin-bottom: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.group__titel {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.group-list__conteiner {
  width: 132px;
  height: 135px;
  border: 2px solid var(--modal-border-color);
  filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
  border-radius: 15.7808px;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;
}
.group__item--icecream
.group-list__conteiner{
  border: 2px solid var(--modal-border-color);
}

.group__item--icecoffee
.group-list__conteiner{
  background: var(--products-bg-yellow);
  border: 2px solid var(--products-bg-yellow);
}
.group__item--milkshake
.group-list__conteiner{
  border: 2px solid var(--products-bg-brown);
}
.group__item::before{
  content: '';
  display: inline-flex;
  position: absolute;
  z-index: 9;
  top: -58px;
  border-radius: 50%;
  width: 131px;
  height: 130px;
}
.group__item--icecream::before{
  content: '';
  background: linear-gradient(0deg, var(--products-ellipse-green), var(--products-ellipse-green)),var(--products-ellipse-grey);
box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}
.group__item--icecoffee::before{
  background: linear-gradient(0deg, var(--products-ellipse-yellow), var(--products-ellipse-yellow)), var(--products-ellipse-grey);
box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
}
.group__item--milkshake::before{
  background: linear-gradient(0deg, var(--products-ellipse-brown), var(--products-ellipse-brown)), var(--products-ellipse-grey);
box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
}
.group__item::after{
  content: '';
  display: inline-flex;
  position: absolute;
  z-index: 10;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 131px;
  height: 130px;
  border-radius: 50%;
  
}
.group__item--icecream::after{
  content: '';
  background-image: url('/src/image/product-modal/icecram.jpg');
  background-image: -webkit-image-set
    (url('/src/image/product-modal/icecram.webp') 1x);
    border-radius: 98.6301px;
}
.group__item--icecoffee::after{
  content: '';
  background-image: url('/src/image/product-modal/icecoffee.jpg');
  background-image: -webkit-image-set
    (url('/src/image/product-modal/icecoffee.webp') 1x);
}
.group__item--milkshake::after{
  content: '';
  background-image: url('/src/image/product-modal/milkshake.jpg');
  background-image: -webkit-image-set
    (url('/src/image/product-modal/milkshake.webp') 1x);
}
.form{
  display: flex;
}
.form__section{
  display: flex;
  align-items: center
}
.form__label {
  position: relative;
  display: flex;
  justify-content: center;
  &:nth-child(-n + 4) {
    margin-bottom: 10px;
  }

}
.form__field {
  position: absolute;
  display: block;
  margin-left: 16px;
}
.form__field--margin{
  margin-bottom: 32px;
}

.form__input {
  font-size: 100%;
  position: relative;
  font-size: 14px;
  line-height: 140%;
  display: block;
 
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 30px;
  padding-right: 152px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}

.form__feedback {
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  width: 350px;
  height: 84px;
  border-radius: 10px;
  padding-top: 11px;
  padding-bottom: 53px;
  padding-left: 16px;
  padding-right: 152px;
  display: block;
  cursor: pointer;
  outline: none;
  resize: none;
  
  
}
.modal__btn {
  height: 42px;
  width: 121px;
  background: #f8d24e;
  border-radius: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: block;
  border: #f8d24e;
  margin: 0 auto;
  cursor: pointer;
  outline: none;
  margin-top: 32px;
}
