<section class="about">
  <div class="container">
    <p class="about__undertitle">tradition and love</p>
    <h1 class="about__title">how it’s made?</h1>
    <div class="about__feature">
      <div class="feature__bg-round"></div>
      <div class="feature__container">
        <ul class="feature__list">
          <li class="feature__item">
            <p class="feature__text">
              Ice is a place where you will become not only a little happier,
              but also healthier. Health is the main value for us, and we follow
              it when creating our handmade desserts.
            </p>
          </li>
          <li class="feature__item">
            <p class="feature__text">
              We use traditional recipes and 100% natural ingredients. Our
              products are so natural that they can be given to children from
              the age of three years. Sweets lovers can expect 55 types of ice
              cream, 15 types of coffee and 23 milkshakes.
            </p>
          </li>
          <li class="feature__item">
            <p class="feature__text">
              This is enough to choose ice cream and coffee for any mood!
            </p>
          </li>
        </ul>
        <button class="feature__button" type="button">
          Read more<svg class="button__icon" width="12px" height="12px">
            <use href="./image/icons.svg#bnt-frame"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="description">
      <ul class="description__list list">
        <li class="description__item">
          <div class="description__icon-bgc">
            <svg class="description__icon" width="36px" height="36px">
              <use href="./image/icons.svg#Group"></use>
            </svg>
          </div>
          <p class="description__qty">721</p>
          <p class="description__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
        <li class="description__item">
          <div class="description__icon-bgc">
            <svg class="description__icon" width="36px" height="36px">
              <use href="./image/icons.svg#weight"></use>
            </svg>
          </div>

          <p class="description__qty">16kg</p>
          <p class="description__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
        <li class="description__item">
          <div class="description__icon-bgc">
            <svg class="description__icon" width="36px" height="36px">
              <use href="./image/icons.svg#ice-crema"></use>
            </svg>
          </div>

          <p class="description__qty">84</p>
          <p class="description__text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
