<section class="advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages__list list">
      <li
        class="advantages__items advantages__items_cow"
        data-aos="fade-up"
        data-aos-duration="1200"
      >
        <h3 class="advantages__caption">721</h3>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li
        class="advantages__items advantages__items_weght"
        data-aos="fade-up"
        data-aos-duration="1700"
      >
        <h3 class="advantages__caption">16kg</h3>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li
        class="advantages__items advantages__items_ice"
        data-aos="fade-up"
        data-aos-duration="2200"
      >
        <h3 class="advantages__caption">84</h3>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
