<section class="contacts__section section" id="Contact">
  <div class="contacts__container container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <p class="contacts__description">cafe</p>
        <address class="contacts__address contacts__address--first">
          <p class="contacts__city">Chicago</p>
          <a
            class="contacts__destination"
            href="https://goo.gl/maps/X5MbMdYpLndGZWuj9"
            target="_blank"
            rel="nofollow noopener noreferrer"
            >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
          >
        </address>
        <ul class="contacts__daytime">
          <li class="contacts__day">Monday - Friday</li>
          <li class="contacts__time">06:00 AM - 10:00 PM</li>
          <li class="contacts__day">Saturday - Sunday</li>
          <li class="contacts__time">08:00 AM - 16:00 PM</li>
        </ul>
        <ul class="contacts__content">
          <li>
            <a class="contacts__tel" href="tel:+610383766284">
              +61(0) 383 766 284
            </a>
          </li>
          <li>
            <a class="contacts__mail" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <p class="contacts__description">food truck</p>
        <address class="contacts__address">
          <p class="contacts__city">Los Angeles</p>
          <a
            class="contacts__destination"
            href="https://goo.gl/maps/k7n8ESJZy5XRhDWo7"
            target="_blank"
            rel="nofollow noopener noreferrer"
            >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
          >
        </address>
        <ul class="contacts__daytime">
          <li class="contacts__day">Monday - Friday</li>
          <li class="contacts__time">06:00 AM - 10:00 PM</li>
          <li class="contacts__day">Saturday - Sunday</li>
          <li class="contacts__time">08:00 AM - 16:00 PM</li>
        </ul>
        <ul class="contacts__content">
          <li>
            <a class="contacts__tel" href="tel:+610383766284">
              +61(0) 383 766 284
            </a>
          </li>
          <li>
            <a class="contacts__mail" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__item">
        <p class="contacts__description">cafe</p>
        <address class="contacts__address contacts__address--last">
          <p class="contacts__city">New York</p>
          <a
            class="contacts__destination"
            href="https://goo.gl/maps/wjMocRnsrAC115LL8"
            target="_blank"
            rel="nofollow noopener noreferrer"
          >
            726 Sterling Pl, Brooklyn, NY 11222, USA</a
          >
        </address>
        <ul class="contacts__daytime">
          <li class="contacts__day">Monday - Friday</li>
          <li class="contacts__time">06:00 AM - 10:00 PM</li>
          <li class="contacts__day">Saturday - Sunday</li>
          <li class="contacts__time">08:00 AM - 16:00 PM</li>
        </ul>
        <ul class="contacts__content">
          <li>
            <a class="contacts__tel" href="tel:+610383766284">
              +61(0) 383 766 284
            </a>
          </li>
          <li>
            <a class="contacts__mail" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <ul class="contacts__buttons">
      <li>
        <button type="button" class="button button--location contacts__button" data-modal-open>
          <span>Our Locations</span>
          <svg width="12" height="12" class="contacts__buttons--arrow">
            <use href="./image/icons.svg#icon-btn"></use>
          </svg>
        </button>
      </li>
      <li>
        <button type="button" class="button button--franchise contacts__button" franchise-modal-open>
          <span>Franchise</span>
          <svg width="12" height="12" class="contacts__buttons--arrow">
            <use href="./image/icons.svg#icon-btn"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
