<section>
  <div class="container">
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="section-customer-reviews-group">
            <ul class="section-customer-reviews-list">
              <li class="section-customer-reviews-list__photo emily"></li>
              <li class="section-customer-reviews-list__comment">
                I love visiting your cafe. You prepare the most delicious ice
                cream in Los Angeles! In addition, you have beautiful serving,
                cozy atmosphere and polite staff.
              </li>
              <li class="section-customer-reviews-list__description">
                Emily, Los Angeles
              </li>
            </ul>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="section-customer-reviews-group">
            <ul class="section-customer-reviews-list">
              <li class="section-customer-reviews-list__photo sam"></li>
              <li class="section-customer-reviews-list__comment">
                I love eating popsicles on a hot day. Yours is always delicious.
                I recommend your cafe to everyone I know.
              </li>
              <li class="section-customer-reviews-list__description">
                Sam, Los Angeles
              </li>
            </ul>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="section-customer-reviews-group">
            <ul class="section-customer-reviews-list">
              <li class="section-customer-reviews-list__photo diana"></li>
              <li class="section-customer-reviews-list__comment">
                Ice cream is my passion! I love your chocolate hazelnut ice
                cream! And I really like the excellent service - always served
                politely and quickly!
              </li>
              <li class="section-customer-reviews-list__description">
                Diana, Chicago
              </li>
            </ul>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="section-customer-reviews-group">
            <ul class="section-customer-reviews-list">
              <li class="section-customer-reviews-list__photo bryan"></li>
              <li class="section-customer-reviews-list__comment">
                Every day we come to you with friends after classes in college.
                We love your ice cream and casual atmosphere!
              </li>
              <li class="section-customer-reviews-list__description">
                Bryan, New-York
              </li>
            </ul>
          </div>
        </div>
        ...
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>

      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>

      <!-- If we need scrollbar -->
      <div class="swiper-scrollbar"></div>
    </div>
  </div>
</section>
