.about {
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 40px;

  background-color: var(--primary-background-color);

  @media screen and(min-width:768px) {
    padding-bottom: 74px;
  }
}
.about__undertitle {
  margin-bottom: 12px;

  text-align: center;
  text-transform: uppercase;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  color: var(--primary-text-color);

  @media screen and(min-width:768px) {
    font-weight: 800;
    font-size: 22px;
    letter-spacing: 0.04em;
  }

  @media screen and(min-width:1200px) {
    font-size: 30px;
  }
}
.about__title {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;

  text-align: center;
  text-transform: uppercase;

  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 30px;
  line-height: 1.27;
  color: var(--primary-text-color);
  letter-spacing: 0.04em;

  @media screen and(min-width:768px) {
    width: auto;
    margin-bottom: 72px;

    font-size: 34px;
    letter-spacing: 0.06em;
  }

  @media screen and(min-width:1200px) {
    font-size: 36px;
    margin-bottom: 82px;
  }
}
.about__feature {
  @media screen and(min-width:768px) {
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    align-items: center;
    height: 529px;
  }
}

.feature__bg-round {
  position: relative;

  width: 280px;
  height: 280px;
  background: linear-gradient(
      0deg,
      var(--products-ellipse-yellow),
      var(--products-ellipse-yellow)
    ),
    var(--products-ellipse-grey);
  box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
  border-radius: 140px;

  margin-left: auto;
  margin-right: auto;

  @media screen and(min-width:768px) {
    width: 335px;
    height: 330px;
    border-radius: 165px;
    margin-left: 0;
  }

  @media screen and(min-width:1200px) {
    width: 500px;
    height: 500px;
    border-radius: 250px;
    margin-left: 0;
    margin-right: 100px;
  }

  @media screen and(max-width:767px) {
    margin-bottom: 40px;
  }
}

.feature__image {
  position: absolute;

  top: 22px;
  left: 0;
  border-radius: 1039px;

  @media screen and (min-width: 768px) {
    top: 26px;
    border-radius: 1228px;
  }
  @media screen and (min-width: 1200px) {
    top: 39px;
    border-radius: 1852px;
  }
}
.feature__list {
  width: 220px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  @media screen and(min-width:768px) {
    width: 336px;
    margin-bottom: 48px;
  }

  @media screen and(min-width:1200px) {
    width: 463px;
  }
}
.feature__item {
  &:first-child {
    margin-bottom: 4px;
  }
  &:not(:last-child) {
    @media screen and(min-width:768px) {
      margin-bottom: 8px;
    }
  }

  &:last-child {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}
.feature__text {
  font-size: 12px;
  line-height: 1.76;

  text-align: center;
  letter-spacing: 0.04em;

  color: var(--primary-text-color);

  @media screen and(min-width:768px) {
    text-align: start;
  }
  @media screen and(min-width:1200px) {
    font-size: 16px;
  }
}

.feature__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 164px;
  height: 42px;
  background-color: var(--accent-color);
  border-radius: 10px;
  border: none;
  margin-left: auto;
  margin-right: auto;

  cursor: pointer;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  color: var(--secondary-text-color);

  text-align: center;
  transition: background-color 250ms var(--timing-function);

  &:hover {
    background-color: var(--hover-btn);
  }
  &:focus {
    background-color: var(--hover-btn);
    color: var(--modal-bg-color);

    outline: none;

    .button__icon {
      stroke: var(--modal-bg-color);
    }
  }

  @media screen and (min-width: 768px) {
    margin-left: 0;
  }
}
.button__icon {
  margin-left: 5px;
  fill: transparent;
  stroke: #000;
}
