.section__footer {
  background-color: #84a178;
}

.footer-title-first {
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #fcfcfc;
}

.footer-title-second {
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #fcfcfc;
}

.box {
  width: 1167px;
  height: 0px;

  border: 1px solid #e1e1e1;
}

.footer-contact {
  font-weight: 700;
  font-size: 16px;
  line-height: 186%;
  letter-spacing: 0.02em;
  color: #131313;
}

.footer-contact-span {
  color: #ffffff;
}

.footer-copyright {
  width: 255px;
  height: 22px;

  font-weight: 700;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.02em;

  color: #7a7a7a;
}
