.header-section {
  height: 502px;
  background-color: var(--primary-background-color);
  background-image: url('../image/dots_mob-@1x.png');
  background-position: bottom;
  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    height: 415px;
    background-image: url('../image/dots_tab-@1x.png');
  }

  @media screen and (min-width: 1200px) {
    height: 664px;
    background-image: url('../image/dots_desc-@1x.png');
  }

  .container {
    position: relative;
    height: 100%;
  }
}

.header-top {
  padding: 12px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 49px;
  position: relative;
  z-index: 1;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 28px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 33px;
  }
}

.logo__icon {
  width: 40px;
  height: 37px;

  @media screen and (min-width: 768px) {
    width: 48px;
    height: 44px;
  }

  @media screen and (min-width: 1200px) {
    width: 60px;
    height: 65px;
  }
}

.menu-btn {
  background-color: transparent;
  border: none;

  @media screen and (min-width: 768px) {
    margin-left: auto;
    margin-right: 32px;
  }
}

.menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list {
  display: none;

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__item {
      font-weight: 700;
      font-size: 16px;
      line-height: calc(20 / 16);
    }

    &__link {
      color: var(--primary-text-color);
      text-decoration: none;

      &:hover,
      &:focus {
        color: var(--accent-color);
      }
    }

    &__item:not(:last-child) {
      margin-right: 12px;
    }
  }
}

.buy-btn {
  display: none;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    padding: 12px 34px;
    background: var(--accent-color);
    border-radius: 10px;
    border: none;
    font-weight: 600;
    font-size: 14px;
    line-height: calc(17 / 14);
    color: var(--secondary-text-color);
  }

  &:hover {
    background: var(--hover-btn);
  }

  &:focus {
    background: var(--hover-btn);
    color: var(--primary-text-color);
  }

  &:focus .btn-icon {
    fill: var(--primary-text-color);
  }
}

.btn-icon {
  margin-left: 7px;
}

//block 2

.header-title {
  width: 247px;
  margin-bottom: 32px;
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: calc(33 / 20);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--primary-text-color);

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: calc(23 / 18);
    width: 181px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 38px;
    line-height: calc(48 / 38);
    width: 367px;
    margin-bottom: 28px;
  }
}

.title-part {
  font-size: 26px;
  line-height: calc(33 / 26);

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: calc(13 / 24);
  }

  @media screen and (min-width: 1200px) {
    font-size: 38px;
    line-height: calc(48 / 38);
  }
}

.title-links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;

  @media screen and (min-width: 768px) {
    margin-bottom: 28px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 42px;
  }
}

.link-1 {
  margin-right: 8px;
  text-decoration: none;
  border: 2px solid var(--accent-color);
  border-radius: 8px;
  color: var(--secondary-text-color);
  padding: 5px 10px;

  @media screen and (min-width: 1200px) {
    margin-right: 12px;
    padding: 12px 34px;
  }

  &:hover {
    border-color: var(--hover-btn);
  }

  &:focus {
    border-color: var(--hover-btn);
    color: var(--primary-text-color);
  }
}

.link-2 {
  text-decoration-line: underline;
  color: var(--accent-color);

  &:hover {
    color: var(--hover-btn);
  }

  &:focus {
    color: var(--primary-text-color);
  }
}

.link-1,
.link-2 {
  font-style: normal;
  font-weight: 600;
  font-size: 8px;
  line-height: calc(10 / 8);
  display: flex;
  align-items: center;
  text-align: center;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: calc(18 / 14);
  }
}

.statistics {
  display: none;

  @media screen and (min-width: 768px) {
    text-align: right;
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 1200px) {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(17 / 14);
    color: var(--primary-text-color);
  }

  &__number {
    @media screen and (min-width: 768px) {
      font-weight: 900;
      font-size: 28px;
      line-height: calc(34 / 28);
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: var(--secondary-text-color);
      margin-bottom: 4px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 46px;
      line-height: 56px;
    }
  }

  &__text {
    @media screen and (min-width: 768px) {
      font-weight: 400;
      font-size: 8px;
      line-height: calc(10 / 8);
      color: var(--primary-text-color);
    }
  }

  &__text:not(last-child) {
    margin-bottom: 16px;
  }
}

.menu-btn {
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.header-middle {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

//block 3

.product {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }

  @media screen and (min-width: 1200px) {
    align-items: center;
  }

  &__img {
    width: 152px;
    align-self: flex-start;
    margin-right: 33px;

    @media screen and (min-width: 1200px) {
      width: 225px;
      margin-right: 14px;
    }
  }

  &__icon {
    fill: var(--primary-text-color);
  }

  &__text {
    @media screen and (min-width: 768px) {
      font-weight: 400;
      font-size: 12px;
      line-height: calc(17 / 12);
      color: var(--primary-text-color);
      width: 151px;
      margin-bottom: 20px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: calc(20 / 14);
      width: 200px;
      margin-bottom: 32px;
    }
  }
}

.commercial-img {
  position: absolute;
  bottom: -53px;
  left: 20px;
  right: 0;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    bottom: -53px;
  }

  @media screen and (min-width: 768px) {
    left: auto;
    bottom: -56px;
    right: 25px;
    margin: 0;
  }

  @media screen and (min-width: 1200px) {
    bottom: -100px;
  }
}

// dropdown menu
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  transform: translateX(100%);
  transition: transform 500ms;
  background-color: var(--primary-background-color);
  overflow: scroll;

  @media screen and (min-width: 1200px) {
    display: none;
  }

  &.is-open {
    transform: translateX(0);
  }
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__link {
    text-decoration: none;
    font-weight: 700;
    font-size: 32px;
    line-height: calc(39 / 32);
    color: var(--primary-text-color);

    &:hover,
    &:focus {
      color: var(--secondary-text-color);
    }

    @media screen and (min-width: 768px) {
      font-size: 48px;
      line-height: calc(59 / 48);
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 32px;

    @media screen and (min-width: 768px) {
      margin-bottom: 40px;
    }
  }
}

.mobile-btn {
  margin-top: auto;
  margin-bottom: 63px;
  display: flex;
  align-items: center;
  padding: 12px 34px;
  background: var(--accent-color);
  border-radius: 10px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: var(--secondary-text-color);
  align-self: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &:hover {
    background: var(--hover-btn);
  }

  &:focus {
    background: var(--hover-btn);
    color: var(--primary-text-color);
  }

  &:focus .btn-icon {
    fill: var(--primary-text-color);
  }
}

.mobile-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    padding: 12px 32px;
    margin-bottom: 64px;
  }
}

.menu-toggle {
  background-color: transparent;
  border: none;
}
