// .products {
// }
.products__cont {
  padding-top: 60px;
  padding-bottom: 60px;
}
.products__lable {
  font-weight: 800;
  font-size: 18px;
  line-height: calc(22 / 18);
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-text-color);

  margin-bottom: 12px;
}
.products__heading {
  font-family: 'Seymour One', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: calc(38 / 30);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--secondary-text-color);

  margin-bottom: 148px;
}
.products__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 168px;
}
.products__item {
  max-width: 280px;
  padding: 123px 40px 0 40px;
  border-radius: 24px;
}
.products__item--icecream {
  background-color: var(--products-bg-green);
}
.products__item--icecoffee {
  background-color: var(--products-bg-yellow);
}
.products__item--milkshakes {
  background-color: var(--products-bg-brown);
}

.products__title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(24 / 14);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--secondary-text-color);

  margin-bottom: 40px;
}
.products__text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--secondary-text-color);

  margin-bottom: 70px;
}
.products__btn {
  display: inline-flex;
  align-items: center;
  width: 85px;
  height: 40px;
}
.products__btn::before {
  content: '';
  width: 82px;
  height: 32px;
  background-color: aqua;
  background-image: url('/src/image/icons.svg#Arrow-Default');
  background-size: contain;
}
