.products {
  margin: auto;

  background-size: contain;
  max-width: 480px;
  background-image: url('/src/image/products/background_1_sm.jpg'),
    url('/src/image/products/background_2_sm.jpg'),
    url('/src/image/products/background_3_sm.jpg');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image:url('/src/image/products/background_1_sm@2x.jpg'),
      url('/src/image/products/background_2_sm@2x.jpg'),
      url('/src/image/products/background_3_sm@2x.jpg');


}
.products__cont {
  padding-top: 60px;
  padding-bottom: 60px;
}
.products__lable {
  font-weight: 800;
  font-size: 18px;
  line-height: calc(22 / 18);
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary-text-color);

  margin-bottom: 12px;
}
.products__heading {
  font-family: 'Seymour One', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: calc(38 / 30);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--secondary-text-color);

  margin-bottom: 148px;
}
.products__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 168px;
}
.products__item {
  position: relative;
  max-width: 280px;
  height: 420px;
  padding: 123px 40px 0 40px;
  border-radius: 24px;
}

.products__item--icecream {
  background-color: var(--products-bg-green);
}
.products__item--icecoffee {
  background-color: var(--products-bg-yellow);
}
.products__item--milkshakes {
  background-color: var(--products-bg-brown);
}
.products__title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(24 / 14);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--secondary-text-color);

  margin-bottom: 40px;
}
.products__text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--secondary-text-color);

  // margin-bottom: 70px;
}
.products__btn {
  display: inline-flex;
  align-items: center;
  width: 85px;
  height: 40px;
}

.products__btn::before {
  content: '';
  width: 82px;
  height: 32px;
  background-color: aqua;
  // background-image: url('/src/image/icons.svg#Arrow-Default');
  // background-size: contain;
}

//цветные круги
.products__item::before {
  content: '';
  display: inline-flex;

  position: absolute;
  z-index: 9;
  top: -100px;

  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.products__item--icecream::before {
  content: '';
  background: linear-gradient(
      0deg,
      var(--products-ellipse-green),
      var(--products-ellipse-green)
    ),
    var(--products-ellipse-grey);
  box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
}
.products__item--icecoffee::before {
  content: '';
  background: linear-gradient(
      0deg,
      var(--products-ellipse-yellow),
      var(--products-ellipse-yellow)
    ),
    var(--products-ellipse-grey);
  box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
}
.products__item--milkshakes::before {
  content: '';
  background: linear-gradient(
      0deg,
      var(--products-ellipse-brown),
      var(--products-ellipse-brown)
    ),
    var(--products-ellipse-grey);
  box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
}
// картинки
.products__item::after {
  content: '';
  display: inline-flex;

  position: absolute;
  z-index: 10;
  top: -12px;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.products__item--icecream::after {
  content: '';
  background-image: url('/src/image/products/ice-cream--200х200.png');
  background-image: -webkit-image-set
    (url('/src/image/products/ice-coffee--200х200.webp') 1x);
}
.products__item--icecoffee::after {
  content: '';
  background-image: url('/src/image/products/ice-coffee--200х200.png');
  background-image: -webkit-image-set
    (url('/src/image/products/ice-coffee--200х200.webp') 1x);
}

.products__item--milkshakes::after {
  content: '';
  background-image: url('/src/image/products/milkshakes--200х200.png');
  background-image: -webkit-image-set
    (url('/src/image/products/milkshakes--200х200.webp') 1x);}
